<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

    <key>Identifier</key>
    <string>me.funbox.templates.cocoaPodsApplication</string>

    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.emptyApplication</string>
    </array>

    <key>Concrete</key>
    <true/>

    <key>Description</key>
    <string>A starting point for any CocoaPoads based application. It provides just an application delegate and a window along with Podfile skeleton.</string>

    <key>Definitions</key>
    <dict>
        <key>../Podfile</key>
        <dict>
            <key>Group</key>
            <string>Supporting Files</string>
            <key>Path</key>
            <string>Podfile</string>
        </dict>
    </dict>

    <key>Nodes</key>
    <array>
        <string>../Podfile</string>
    </array>

    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
</dict>
</plist>
