<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

    <key>Identifier</key>
    <string>me.funbox.templates.iphoneos.AFNetworkingApp</string>

    <key>Ancestors</key>
    <array>
        <string>me.funbox.templates.iphoneos.CocoaPods</string>
    </array>

    <key>Concrete</key>
    <true/>

    <key>Description</key>
    <string>A CocoaPods-based AFNetworking skeleton application.</string>

    <key>Definitions</key>
    <dict>
        <key>../Podfile:AFNetworking</key>
        <string>
pod "AFNetworking", "~&gt; 2.0"
pod "AFNetworkActivityLogger", "~&gt; 2.0"
        </string>
        <key>Bridging-Header.h:import:AFNetworking</key>
        <string>#import &lt;AFNetworking/AFNetworking.h&gt;</string>
        <key>Sources/HTTPSessionManager.swift</key>
        <dict>
            <key>Group</key>
            <string>Sources</string>
            <key>Path</key>
            <string>Sources/HTTPSessionManager.swift</string>
        </dict>
    </dict>

    <key>Nodes</key>
    <array>
        <string>../Podfile:AFNetworking</string>
        <string>Bridging-Header.h:import:AFNetworking</string>
        <string>Sources/HTTPSessionManager.swift</string>
    </array>

    <key>Targets</key>
    <array>
        <dict>
            <key>Frameworks</key>
            <array>
                <string>CoreGraphics</string>
                <string>Security</string>
            </array>
        </dict>
    </array>

</dict>
</plist>
