<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

    <key>Identifier</key>
    <string>me.funbox.xcode.templates.iphoneos.AFNetworking</string>

    <key>Ancestors</key>
    <array>
        <string>me.funbox.xcode.templates.iphoneos.CocoaPods</string>
    </array>

    <key>Concrete</key>
    <true/>

    <key>Description</key>
    <string>A CocoaPods-based AFNetworking skeleton application.</string>

    <key>Definitions</key>
    <dict>
        <key>../Podfile:AFNetworking</key>
        <string>
pod "AFNetworking", "~&gt; 2.0"
pod "AFNetworkActivityLogger", "~&gt; 2.0"
        </string>
    </dict>

    <key>Nodes</key>
    <array>
        <string>../Podfile:AFNetworking</string>
    </array>

    <key>Targets</key>
    <array>
        <dict>
            <key>Frameworks</key>
            <array>
                <string>CoreGraphics</string>
                <string>Security</string>
            </array>
        </dict>
    </array>

    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Definitions</key>
                    <dict>
                        <!-- Overwrite Application.xctemplate's implementations -->
                        <key>AppDelegate.m</key>
                        <dict>
                            <key>Group</key>
                            <string>Sources</string>
                            <key>Path</key>
                            <string>Sources/AppDelegate.m</string>
                        </dict>

                        <key>Sources/HTTPSessionManager.h</key>
                        <dict>
                            <key>Group</key>
                            <string>Sources</string>
                            <key>Path</key>
                            <string>Sources/HTTPSessionManager.h</string>
                        </dict>
                        <key>Sources/HTTPSessionManager.m</key>
                        <dict>
                            <key>Group</key>
                            <string>Sources</string>
                            <key>Path</key>
                            <string>Sources/HTTPSessionManager.m</string>
                        </dict>
                    </dict>
                    <key>Nodes</key>
                    <array>
                        <!-- Overwrite Application.xctemplate's implementations -->
                        <string>AppDelegate.m</string>
                        <string>Sources/HTTPSessionManager.h</string>
                        <string>Sources/HTTPSessionManager.m</string>
                    </array>
                </dict>

                <key>Swift</key>
                <dict>
                    <key>Definitions</key>
                    <dict>
                        <key>Bridging-Header.h:import:AFNetworking</key>
                        <string>#import &lt;AFNetworking/AFNetworking.h&gt;</string>
                        <key>Bridging-Header.h:import:AFNetworkActivityLogger</key>
                        <string>#import &lt;AFNetworkActivityLogger/AFNetworkActivityLogger.h&gt;</string>

                        <key>Sources/HTTPSessionManager.swift</key>
                        <dict>
                            <key>Group</key>
                            <string>Sources</string>
                            <key>Path</key>
                            <string>Sources/HTTPSessionManager.swift</string>
                        </dict>
                    </dict>
                    <key>Nodes</key>
                    <array>
                        <string>Bridging-Header.h:import:AFNetworking</string>
                        <string>Bridging-Header.h:import:AFNetworkActivityLogger</string>
                        <string>Sources/HTTPSessionManager.swift</string>
                    </array>
                </dict>
            </dict>
        </dict>
    </array>

</dict>
</plist>
